/* Style Sheet for Hackystat */
/* RGB for font color is: (51, 0, 102) */

/* Default font, color, size for entire system. */
body, td, th, input, select { font-family: verdana, sans-serif; color: #330066; font-size:80%; }
h1 { font-family: verdana, sans-serif; color: #330066; font-size:150%; margin-top: 1%; margin-bottom: 1%; }
h2 { font-family: verdana, sans-serif; color: #330066; font-size:130%; margin-top: 1%; margin-bottom: 1%;}
h3 { font-family: verdana, sans-serif; color: #330066; font-size:110%; margin-top: 1%; margin-bottom: 1%;}
h4 { font-family: verdana, sans-serif; color: #330066; font-size:90%; margin-top: 1%; margin-bottom: 1%;}

p { margin-top: 1%; }

/* Provide a way to get larger intervals between paragraphs. */
p.medskip { margin-top: 3%; }

/* The command style class that provides a background box around the command. */
div.box { background: gainsboro; padding: 0; border: none }

/* Default tables have width of 100 and no border. */
table { width: 100%; }

/* Forms have extra space at the top and bottom by default. Remove this. */
form { margin-bottom: 0; margin-top: 0; }

/* Percentage widths used to get command parameter labels and values to line up nicely. */
.commandlabel { width: 15%; }

/* The command feedback style class that changes the font to yellow. */
div.feedback {color: red }

/* Data table headers have a background. */
th.data { vertical-align: top;  text-align: left; background: gainsboro; }
td.data { vertical-align: top;  text-align: left; }

/* Data table with three evenly spaced columns. */
th.data33 { vertical-align: top; background: gainsboro; width:33% }
td.data33 { vertical-align: top; width:33% }


/* Used by telemetry_report.jsp */
.SectionHeader {font-weight:bold; background:gainsboro; padding:3px; margin-top:6px; border: none; }
.SubsectionHeader {font-weight:bold; font-style:italic; padding:3px; margin-top:6px; border: none; }
.Subsection {padding:3px; margin-left:60px; border: none; }
.thumbnail1 {height: 100px; width: 100px; padding: 2px; margin-right:5px; margin-bottom:5px; border: 1px solid #000099;}
.thumbnail2 {height: 200px; width: 200px; padding: 4px; margin-bottom:10px; border: 1px solid #000099;}