/* -------------------------------------------------------------- 
  
   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)
   
-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/forms.css";
@import "lib/plugins/tabs.css";


/* Page
-------------------------------------------------------------- */

#page { margin: 0 auto; width: 95%; }


/* Header
-------------------------------------------------------------- */

#header { margin-top: 20px; }

#header .tabs { border-bottom: 1px solid #3366CC; }
#header .tabs li { margin-right: 1px; }
#header .tabs a { padding: 5px 15px; background: #E5ECF9; color: #3366CC; text-decoration: none; }


/* Body
-------------------------------------------------------------- */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea { color : #3366CC }

img { vertical-align: middle }

hr { color : #3366CC; background-color : #3366CC; height : 2px; }


#body { margin-top: 10px; }

/* Home Page (signin)
------------------------------------------------------------- */

#signin { float: left; width: 400px; }
#register { float: right;  width: 400px;  }
#feedback { min-height: 30px; color : #ff3366 }

/* Sensor Data Page
--------------------------------------------------------------- */

#sensordata-left     { float: left; width: 200px }
#sensordata-right    {float: right; width: 80%}



/* Footer
-------------------------------------------------------------- */

#info { float: left; width: 100%; border-top: 1px solid #3366CC; margin-top: 1px; }

#footer { border-top: 1px solid #3366CC; margin-top: 1px; }

#footer .tabs { width: 405px; border-top: 3px solid  #E5ECF9; }
#footer .tabs a { padding: 10px 30px 10px 0; color: #3366CC; text-decoration: none; }

#footer p.quiet { color: #3366CC; }

#footerFeedback { color : #ff3366; }
#footerLeft { float: left; border-top: 1px solid #eee; margin-top: 1px; width: 70%}
#footerRight { float: right; text-align: right; border-top: 1px solid #eee; margin-top: 1px; width: 25%}

/* Example layout from the boilerplate system.
----------------------------------------------------------------*/

#introduction { float: left; width: 480px; margin-right: 130px; }
#resources { float: left; width: 230px; }
#resources h3 { color: #3366CC; }
#resources ul, #resources ol { color: #3366CC; }
#resources ul a { color: #3366CC; }




